* {
	margin:0px;
	padding:0px;
}
input {
	padding:5px;
}
body {
	font: normal 1.0em sans-serif;
	line-height: 1.5em;
	background:#ddbd90;
	color:url(img/bg.gif);
}
.header {
	color:#ddbd90;
	background:url(img/bg.gif);
	width:100%;
	height:45px;
}
.header #logo {
	padding:7px;
	font-size:150%;
}
.header #logo a{
	color:#ddbd90;
	text-decoration:none;
}
.navi {
	margin-top:2px;
	margin-bottom:4px;
}
.navi a {
	padding:5px;
	color:#ddbd90;
	background:url(img/bg.gif);
	text-decoration:none;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
}
.navi #current {
	border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;
	color:black;
	background:url(img/nav.gif);
}
.navi a:hover {
	color:black;
	background:url(img/nav.gif);
}
.content {
	margin-top:15px;
	margin-bottom:15px;
	word-wrap:break-word;
	padding:15px;
}
.footer {
	color:#ddbd90;
	background:url(img/bg.gif);
	width:100%;
	height:45px;
}
.fnavi {
	margin-bottom:2.5px;
	position:relative;
}
.fnavi a {
	padding:5px;
	color:#ddbd90;
	background:url(img/bg.gif);
	text-decoration:none;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
}
.fnavi #current {
    border-left:1px solid black;border-right:1px solid black;border-top:1px solid black;
    color:black;
    background:url(img/nav.gif);
}
.fnavi a:hover {
	color:black;
	background:url(img/nav.gif);
}
.msgs {
	height:200px;
	overflow:auto;
}
.msgs li {
	list-style-image:url(img/rarrow.png);
	margin:2px;padding:2px;
	margin-bottom:5px;
}
.boxitems {
    margin-left:75px;
}
.boxitems a {
    text-decoration:none;
    float:left;
    height:auto;
    width:120px;
    margin:2px;
    padding:15px;
    border:1px solid black;
    font-size:12px;
    background:url(img/bg.gif);
    color:#ddbd90;
    text-align:center;
}
.boxitems a img {
    border:0px;
    width:118px;
    height:150px;
}
.boxitems a:hover {
    color:black;
    background:url(img/nav.gif);
}
#error {
	width:500px;
	padding:10px;
	background:red;
	border:1px solid red;
}
#done {
	width:500px;
	padding:10px;
	background:green;color:white;
	border:1px solid green;
}
#warning {
	width:500px;
	padding:10px;
	background:yellow;
	border:1px solid yellow;
}
.td_lbl {
	text-align: right;
}
.td_val {
	width:500px;
	text-align: center;
}
.mytable {

}
.mytable .head{
	background:url(img/bg.gif);color:#ddbd90;
}
.mytable .head td {
	border-bottom:1px solid black;width:200px;padding:10px;
}
.mytable tr {
	background:#109ad9;
}
.mytable tr td {
	padding:5px;border-bottom:1px solid black;
}
.mytable a {
	color:black;
	text-decoration: none
}
#window #current {
    position:relative;top:+1px;
    border-left:1px solid black;border-right:1px solid black;border-top:1px solid black;
    color:black;
    background:#ddbd90;   
}
#window a {
    border-top:1px solid black;border-left:1px solid black;border-right:1px solid black;
    color:#ddbd90;
    background:url(img/bg.gif);
}
#window a:hover {
    color:black;
    background:url(img/nav.gif);
}
.window {
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-topright:8px;
    -moz-border-radius-bottomright:8px;
}
.linkbox {
    padding:5px;
}
.linkbox a {
    text-decoration:none;
    padding:5px;
    background:black;color:white;
    border:1px solid black;
    border-radius:10px;
    -moz-border-radius:10px;
    color:#ddbd90;
    background:url(img/bg.gif);
}
.linkbox a:hover {
    color:black;
    background:url(img/nav.gif);
}